<script type="text/javascript">

    $(document).ready(function () {
        //Create the list items required to run the slideshow. 
        assembleSlides();
        //start the slideshow with a three second transition. 
        slideShow(3000);

    });
</script>

    <div>
        <h1>Welcome to the LolCat Demonstrator!</h1>
    </div>


<!--<ul class="slideshow">
	<li class="show"><img src="images/s1.jpg"  title="Slide 1" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></li>
	<li><img src="images/s2.jpg"   title="Slide 2" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></li>
	<li><img src="images/s3.jpg" title="Slide 3" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></li>
    </ul>
-->
<div>
<ul class="slideshow"/>
</div>
